# élément générer
source/Linux/
source/Windows/
source/Moteur/Linux-*
source/Moteur/Windows-*
source/__pycache__/
*.sh
*.pyc

# fichier de test
main.py
construire_app.py

# environnement
.idea/
.venv

# Utilisation de PyInstaller
*.spec
dist/
*.ico
build/

# documentation
doc/_templates
doc/_build/doctrees
doc/*.py
doc/*.rst
doc/*.bat
doc/Makefile
doc/_static
imgui.ini