# élément générer
source/data/Linux/
source/data/Windows/
source/data/Moteur/Linux-*
source/data/Moteur/Windows-*
source/__pycache__/
source/*/__pycache__/
*.pyc

# fichier de test
main.py
construire_app.py
construire_doc.py
test/

# environnement
.idea/
.venv
.vscode

# documentation
doc/_templates
doc/doctrees
doc/*.py
doc/*.rst
doc/*.bat
doc/Makefile
doc/_static
doc/source
imgui.ini
doc/build/doctrees
doc/build/*

# déploiment
Nuitka
construction_nuitka.txt
source/sys
PyInstaller
construction_pyinstaller.txt