name: Build & Release Linux
run-name: ${{ github.actor }} build Linux App
on:
  push:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
      id-token: write

    steps:
      - name: Utilisez repo
        uses: actions/checkout@v5

      - name: Projet Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'
          cache-dependency-path: |
            **/dependence*.txt

      - name: Installation des dépendances
        run: |
          pip install -r dependence.txt

      - name: Compilation avec Nuitka3
        uses: Nuitka/Nuitka-Action@main
        with:
          nuitka-version: main
          script-name: source/lanceur.py
          mode: standalone
          enable-plugins: |-
            pyside6
          include-data-dir: |
            source/data/icone=./data/icone
            source/style=./style
          include-data-files: |
            source/Scripts/*.py=./Scripts/
          include-package: |
            GUI
            program
            GUI.Biblio
            Fonction
          product-name: BGLauncher

      - name: Charger Artéfact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ runner.os }} Build
          path: |
            build/*.bin
          include-hidden-files: true

      - name: Création du release
        id: create_release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref_name }}
          name: Launcher_UPBGE-${{ github.ref_name }}

      - name: Packager Build
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: lanceur.dist/
          asset_name: lanceur-linux-x64.zip  # Zipez si dossier
          asset_content_type: application/zip