name: linux
run-name: ${{ github.actor }} build Linux App
on:
    push:
        branches:
              - main
jobs:
    build:
        strategy:
            matrix:
                os: [ubuntu-latest]

        runs-on: ${{ matrix.os }}

        steps:
            - name: Utilisez repo
              uses: actions/checkout@v4

            - name: Projet Python
              uses: actions/setup-python@v5
              with:
                  python-version: '3.12'
                  cache: 'pip'
                  cache-dependency-path: |
                    **/dependence*.txt

            - name: Installation des dépendances
              run: |
                  pip install -r dependence.txt

            - name: Compilation avec Nuitka3
              uses: Nuitka/Nuitka-Action@main
              with:
                  nuitka-version: main
                  script-name: source/lanceur.py
                  mode: app
                  option: |
                      --mode=standalone
                      --plugin-enable=pyside6
                      --include-data-dir=source/data/icone=./data/icone
                      --include-data-files=source/Scripts/*.py=./Scripts/
                      --include-data-dir=source/style=./style
                      --include-package=GUI
                      --include-package=program
                      --include-package=Biblio
                      --include-package=Fonction

            - name: Charger Artéfact
              uses: actions/upload-artifact@v4
              with:
                  name: ${{ runner.os }} Build
                  path: |
                    build/*.bin
                  include-hidden-files: true