name: linux
run-name: ${{ github.actor }} build Linux App
on:
    push:
        branches:
              - main
jobs:
    build:
        strategy:
            matrix:
                os: [ubuntu-latest]

        runs-on: ${{ matrix.os }}

        steps:
            - name: Utilisez repo
              uses: actions/checkout@v4

            - name: Projet Python
              uses: actions/setup-python@v5
              with:
                  python-version: '3.12'
                  cache: 'pip'
                  cache-dependency-path: |
                    **/dependence*.txt

            - name: Installation des dépendances
              run: |
                  pip install -r dependence.txt

            - name: Compilation avec Nuitka3
              uses: Nuitka/Nuitka-Action@main
              with:
                  nuitka-version: main
                  script-name: source/lanceur.py
                  mode: |
                    app
                  enable-plugins: |
                    pyside6
                  include-data-dir: |
                    source/data/icone=./data/icone
                    source/style=./style
                  include-data-files: |
                    source/Scripts/*.py=./Scripts/                    
                  include-package: |
                    GUI
                    program
                    Biblio
                    Fonction

            - name: Charger Artéfact
              uses: actions/upload-artifact@v4
              with:
                  name: ${{ runner.os }} Build
                  path: |
                    build/*.bin
                  include-hidden-files: true