name: linux
run-name: ${{ github.actor }} build Linux App
on:
    push:
        branches:
              - main
jobs:
    build:
        strategy:
            matrix:
                os: [ubuntu-latest]

        runs-on: ${{ matrix.os }}

        steps:
            - name: Utilisez repo
              uses: actions/checkout@v5
            - name: Projet Python
              uses: actions/setup-python@v5
              with:
                  python-version: '3.12'
                  cache: 'pip'
                  cache-dependency-path: |
                    **/dependence*.txt
            - name: Installation des dépendances
              run: |
                  pip install -r dependence.txt

            - name: Compilation avec Nuitka3
              uses: Nuitka/Nuitka-Action@main
              with:
                  nuitka-version: main
                  script-name: src/lanceur.py
                  mode: app

            - name: Charger Artéfact
              uses: action/upload-artifact@v5
              with:
                  name: ${{ runner.os }} Build
                  path: |
                    build/*bin
              include-hidden-files: true